In [1]:
#Tuples in Python

In [3]:
tup = (1,2,76,342,32,"green", True)

In [4]:
print(type(tup), tup)

<class 'tuple'> (1, 2, 76, 342, 32, 'green', True)

In [5]:
print(len(tup))

7

In [7]:
print(tup[0])
print(tup[1])
print(tup[2])
print(tup[3])
print(tup[4])
print(tup[5])
print(tup[6])

1
2
76
342
32
green
True

In [8]:
print(tup[-1])

True

In [10]:
if 342 in tup:
    print("Yes, 342 is present in the tuple")

Yes, 342 is present in the tuple

In [13]:
tup2 = tup[0:4]
print(tup2)

(1, 2, 76, 342)